flameshot
gtk*
bleachbit
Code
dconf
nautilus
nvim_old
onlyoffice
obsidian
nitrogen
Postman
syncthing
pulse
systemd
volumeicon
sealert.conf
QtProject.conf
user-dirs.dirs
user-dirs.locale
zoom.conf
zoomus.conf
ibus
htop
gconf
abrt
imsettings
procps
cef_user_data
autostart
.git
pavucontrol.ini
mimeapps.list
retroarch
